<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name"
        #name="ngForm"
        ngControl="name"
        required
        minlength="3"
        class="form-control">
        <div *ngIf="name.touched && name.errors">
            <div class="alert alert-danger" *ngIf="name.errors.required">
                The name is required.
            </div>
            <div class="alert alert-danger" *ngIf="name.errors.minlength">
                The minimum length of the name should be {{ name.errors.minlength.requiredLength }}.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" #email="ngForm"
        class="form-control"
        ngControl="email" id="email"
        required>
    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            The email is required.
        </div>
    </div>
</form>
